:root {
  --white: #fff;
  --black: #121212;
  --grey: #505050;
  --green: #63A60E;
  --bg-lgreen: #E0EDCF;
  --green-hov: #4D800C;
  --bg-dgrey: #31352B;
  --bg-greyf6: #F6F6F6;
  --bg-greyf5: #f5f5f5;
  --greyf4: #4F4F4F;
  --red: #CF3E3B;
  --red-slider: #e12b32;
  --orange: #FF7A00;
  --green-arrow: #7CB238;
  --silver: #C1C1C1;
}

.header__input, .slider__text, .footer {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

body, .header__catalog {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

.header__top {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

.slider__title {
  font-family: 'Ruda-Black', sans-serif;
  font-weight: 900;
}

.slider__btn, .footer-top__form-btn {
  outline: transparent;
  padding: 12px 24px;
  background-color: var(--green);
  color: var(--white);
  -webkit-transition: background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.slider__btn:hover, .footer-top__form-btn:hover {
  background-color: var(--green-hov);
}

.slider__btn:focus, .footer-top__form-btn:focus {
  -webkit-box-shadow: 0px 0px 0px 4px var(--bg-lgreen);
          box-shadow: 0px 0px 0px 4px var(--bg-lgreen);
}

.slider__btn:active, .footer-top__form-btn:active {
  color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.slick-prev {
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-next {
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-prev:hover, .slick-prev:active, .slick-prev:focus {
  background-image: url("../images/icons/arrow-left-green.svg");
  border: 1px solid var(--green);
  background-color: var(--bg-lgreen);
}

.slick-next:hover, .slick-next:active, .slick-next:focus {
  background-image: url("../images/icons/arrow-right-green.svg");
  border: 1px solid var(--green);
  background-color: var(--bg-lgreen);
}

@font-face {
  font-family: 'OpenSans-Light';
  font-weight: 300;
  font-style: normal;
  src: local("OpenSans-Light"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Ruda-Regular';
  font-weight: 400;
  font-style: normal;
  src: local("Ruda-Regular"), url("../fonts/Ruda-Regular.woff2") format("woff2"), url("../fonts/Ruda-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Ruda-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local("Ruda-SemiBold"), url("../fonts/Ruda-SemiBold.woff2") format("woff2"), url("../fonts/Ruda-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Ruda-Bold';
  font-weight: 700;
  font-style: normal;
  src: local("Ruda-Bold"), url("../fonts/Ruda-Bold.woff2") format("woff2"), url("../fonts/Ruda-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Ruda-Black';
  font-weight: 900;
  font-style: normal;
  src: local("Ruda-Black"), url("../fonts/Ruda-Black.woff2") format("woff2"), url("../fonts/Ruda-Black.woff") format("woff");
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--black);
  font-size: 14px;
  line-height: 1.4;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  background-color: var(--bg-dgrey);
  color: var(--white);
  font-size: 13px;
  text-transform: uppercase;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.info__connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 480px;
}

.info__connect-item:not(:last-child) {
  margin-right: 48px;
}

.info__connect-item::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 12px;
}

.info__connect-item:nth-child(1)::before {
  background-image: url("../images/icons/address.svg");
  width: 32px;
  height: 22px;
}

.info__connect-item:nth-child(2)::before {
  background-image: url("../images/icons/tel.svg");
  width: 22px;
  height: 22px;
}

.info__connect-item, .info__menu-item {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.info__connect-item:hover, .info__menu-item:hover {
  opacity: 0.7;
}

.info__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info__menu-item:not(:last-child) {
  margin-right: 24px;
}

.header__bottom {
  background-color: var(--green);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110px;
}

.header__logo {
  margin-right: 24px;
}

.header__catalog {
  position: relative;
  margin-right: 30px;
  width: 240px;
  height: 50px;
  background-color: var(--white);
  color: var(--green);
  text-align: center;
  border-radius: 6px 6px 6px 6px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.header__catalog:hover, .header__catalog:active {
  background-color: var(--bg-lgreen);
}

.header__catalog span {
  position: absolute;
  background-color: var(--green);
  width: 20px;
  height: 1px;
  left: 18px;
  top: 25px;
}

.header__catalog span::before, .header__catalog span::after {
  content: "";
  position: absolute;
  background-color: var(--green);
  left: 0;
  width: 25px;
  height: 1px;
}

.header__catalog span::before {
  top: 7px;
}

.header__catalog span::after {
  bottom: 7px;
}

.header__catalog::after {
  content: "";
  position: absolute;
  display: inline-block;
  right: 18px;
  top: 23px;
  border: 1px solid var(--green-arrow);
  border-width: 0 3px 3px 0;
  padding: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__input {
  position: relative;
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 3%;
  width: 419px;
  height: 50px;
  border: none;
  border-radius: 6px 0 0 6px;
  color: var(--bg-dgrey);
  text-align: center;
}

.header__form--btn {
  padding: 15px 52px;
  margin-left: -4px;
  margin-right: 44px;
  width: 157px;
  height: 50px;
  border-radius: 0px 6px 6px 0px;
  color: var(--white);
  background-color: var(--bg-dgrey);
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s, color 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-radius 0.3s;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
}

.header__form--btn:hover {
  background-color: rgba(49, 53, 43, 0.85);
}

.header__form--btn:focus {
  -webkit-box-shadow: 0px 0px 0px 4px var(--bg-lgreen);
          box-shadow: 0px 0px 0px 4px var(--bg-lgreen);
}

.header__form--btn:active {
  color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__item:not(:last-child) {
  margin-right: 10px;
}

.user__item {
  position: relative;
}

.user__item::before {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.user__item:nth-child(1)::before {
  background-image: url("../images/icons/user.svg");
  width: 24px;
  height: 32px;
}

.user__item:nth-child(2)::before {
  background-image: url("../images/icons/heart.svg");
  width: 31px;
  height: 29px;
}

.user__item:nth-child(3)::before {
  background-image: url("../images/icons/cart.svg");
  width: 32px;
  height: 31px;
}

.user__link {
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: background-color 0.3s, border-radius 0.3s;
  transition: background-color 0.3s, border-radius 0.3s;
}

.user__link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.user__num {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 2px;
  top: 1px;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--red);
  font-size: 10px;
  line-height: 1.8;
  text-align: center;
}

.slider__bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slider__container {
  height: 599px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__content {
  margin: auto 0;
  padding: 24px 0 24px 24px;
  width: 100%;
  height: 315px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
}

.slider__title {
  max-width: 735px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 1.3;
  color: var(--grey);
}

.slider__title span {
  color: var(--red-slider);
}

.slider__text {
  margin-bottom: 32px;
  color: var(--grey);
  font-size: 16px;
}

.slider__btn {
  font-size: 18px;
  border-radius: 6px;
  width: 181px;
  height: 47px;
}

.content-tomatoes {
  height: 323px;
}

.content-salad {
  height: 341px;
}

.title-salad {
  max-width: 761px;
  margin-bottom: 12px;
}

.slider__items {
  position: relative;
}

.slick-arrow {
  position: absolute;
  top: 45%;
  width: 60px;
  height: 60px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--silver);
  border-radius: 6px;
  z-index: 10;
  -webkit-transition: background-image 0.3s, border 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-image 0.3s, border 0.3s, background-color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-image 0.3s, border 0.3s, background-color 0.3s, box-shadow 0.3s;
  transition: background-image 0.3s, border 0.3s, background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
}

.slick-prev {
  background-image: url("../images/icons/arrow-left.svg");
}

.slick-prev:focus {
  outline: transparent;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
          box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
}

.slick-next {
  background-image: url("../images/icons/arrow-right.svg");
}

.slick-next:focus {
  outline: transparent;
  -webkit-box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
          box-shadow: 0px 0px 0px 3px rgba(99, 166, 14, 0.5);
}

.footer {
  position: relative;
  background-color: var(--bg-dgrey);
  color: var(--white);
}

.footer__logo {
  display: block;
  margin-bottom: 30px;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-top__text {
  margin-bottom: 18px;
  line-height: 1;
}

.footer-top__form-input {
  max-width: 180px;
  width: 100%;
  padding: 12px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 6px 0 0 6px;
  text-align: start;
}

.footer-top__form-input::-webkit-input-placeholder {
  color: var(--greyf4);
}

.footer-top__form-input:-ms-input-placeholder {
  color: var(--greyf4);
}

.footer-top__form-input::-ms-input-placeholder {
  color: var(--greyf4);
}

.footer-top__form-input::placeholder {
  color: var(--greyf4);
}

.footer-top__form-btn {
  position: absolute;
  padding: 12px 16px;
  width: 126px;
  height: 40px;
  border-radius: 0 6px 6px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.footer-menu {
  position: absolute;
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 77px;
          column-gap: 77px;
  top: 112px;
  right: 374px;
}

.footer-menu__item {
  max-width: 129px;
}

.footer-menu__link {
  display: block;
  padding: 9px 0;
}

.social {
  padding-top: 90px;
}

.social__tel, .social__address {
  display: block;
  margin-bottom: 18px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -8px;
}

.social__item:not(:last-child) {
  margin-right: 12px;
}

.social__link {
  display: block;
  width: 32px;
  height: 32px;
  -webkit-transition: background-color 0.3s, color 0.3s, opacity 0.3s;
  transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}

.social__link:active {
  background-color: transparent;
  color: var(--white);
  opacity: 0.7;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 76px;
}

.footer-bottom__copy {
  text-transform: uppercase;
}

.footer-bottom__payment-img {
  display: inline;
  vertical-align: middle;
}

.footer-bottom__payment-img:nth-child(1) {
  margin-right: 24px;
}
/*# sourceMappingURL=style.css.map */