html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--black);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  @extend %opensans;
  font-weight: 600;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.form-search {
  position: relative;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 12px;
    width: 20px;
    height: 20px;
    transform: translate(0, -50%);
    background-image: url('../images/sprite.svg#search');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__title {
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }

  &__input {
    width: 100%;
    height: 50px;
    padding: 0 170px 0 51px;
    border-radius: 6px;
    outline: transparent;
    font-size: 14px;
    font-weight: 400;
    border: none;
    letter-spacing: 0.03em;

    @include media-1 {
      padding: 0px 135px 0 51px
    }
  }

  &__btn {
    position: absolute;
    outline: transparent;
    height: 50px;
    right: 0;
    bottom: 0;
    padding: 15px 52px;
    background-color: var(--bg-dgrey);
    color: var(--white);
    border-radius: 0 6px 6px 0;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;

    @include media-1 {
      padding: 15px 35px;
    }

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px var(--bg-lgreen);
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      color: var(--white);
      background-color: var(--bg-dgrey);
    }
  }
}

.btn {
  outline: transparent;
  padding: 12px 24px;
  border-radius: 6px;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.03em;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: var(--green-hov);
  }

  &:focus {
    box-shadow: 0 0 0 4px var(--bg-lgreen);
  }

  &:active {
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.card {
  padding: 56px 18px 18px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: border 0.3s;

  @include media-4 {
    padding: 51px 12px 9px;
  }

  &:hover {
    border: 1px solid var(--green)
  }

  &__favourite {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include media-4 {
      top: 5px;
    }

    svg {
      fill: var(--silver);
      width: 32px;
      height: 28px;
      transition: fill 0.3s;

      @include media-4 {
        width: 24px;
        height: 21px;
      }
    }

    &:hover {
      svg {
        fill: var(--sun)
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 86%;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;

      @include media-4 {
        object-fit: cover;
      }
    }
  }

  &__title {
    @include line-clamp(3);
    margin-bottom: 9px;
    flex: 1 1 auto;
    height: 57px;

    @include media-4 {
      margin-bottom: 17px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__prices {
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-weight: 400;
    line-height: 1;
    color: var(--grey);

    &:not(:last-child) {
      margin-bottom: 3px;
    }

    &--old {
      position: relative;
      color: var(--silver);

      &::before {
        content: "";
        color: var(--silver);
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--silver);
        transform: rotate(-14.99deg);
      }
    }
  }

  &__cart {
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, box-shadow 0.3s;

    &::before {
      content: "";
      width: 16px;
      height: 15px;
      background-color: #fff;
      mask-image: url("../images/sprite.svg#cart");
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: cover;
    }

    &:hover {
      background-color: var(--green-hov);
    }

    &:active {
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: rgba(var(--white), 0.5);
    }

    &:focus {
      box-shadow: 0px 0px 0px 4px var(--bg-lgreen);
    }
  }
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  @extend %ruda;
  font-weight: 600;
}

.badges {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 12px;
  left: 12px;

  &__item {
    padding: 3px 6px;
    border-radius: 6px;
    text-transform: uppercase;
    color: var(--white);
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    z-index: 5;
    display: none;

    &--on {
      display: block;
    }

    &--new {
      background-color: var(--green);
    }

    &--sale {
      background-color: var(--red);
    }

    &--hit {
      background-color: var(--orange);
    }

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
}

.breadcrumbs {
  padding: 24px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    position: relative;
    background-color: var(--bg-greyf6);
    color: var(--grey);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;

    &:nth-child(1) {
      padding-right: 16px;

      &::before {
        content: "";
        position: absolute;
        mask: url('../images/sprite.svg#breadcrumbs-arrow') center / cover;
        background-color: var(--silver);
        width: 6px;
        height: 10px;
        left: 63px;
        top: 2px;
      }
    }

    &:nth-child(2) {
      padding-right: 16px;

      &::before {
        content: "";
        position: absolute;
        mask: url('../images/sprite.svg#breadcrumbs-arrow') center / cover;
        background-color: var(--silver);
        width: 6px;
        height: 10px;
        left: 124px;
        top: 2px;
      }
    }
  }
}