:root {
  --white: #fff;
  --black: #121212;
  --menu-cat: #000000;
  --grey: #505050;
  --green: #63A60E;
  --bg-lgreen: #E0EDCF;
  --green-hov: #4D800C;
  --bg-dgrey: #31352B;
  --bg-greyf6: #F6F6F6;
  --bg-greyf5: #f5f5f5;
  --greyf4: #4F4F4F;
  --red: #CF3E3B;
  --red-slider: #e12b32;
  --orange: #FF7A00;
  --green-arrow: #7CB238;
  --silver: #C1C1C1;
  --sun: #FFB800;
}

%opensans {
  font-family: 'OpenSans', sans-serif;
}

%ruda {
  font-family: 'Ruda', sans-serif;
}

%left-norm {
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

%right-norm {
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

%left-green {
  background-image: url('../images/sprite.svg#arrow-left-green');
  background-size: contain;
  border: 1px solid var(--green);
  background-color: var(--bg-lgreen);
}

%right-green {
  background-image: url('../images/sprite.svg#arrow-right-green');
  background-size: contain;
  border: 1px solid var(--green);
  background-color: var(--bg-lgreen);
}

