@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  &__top {
    background-color: var(--bg-dgrey);
    color: var(--white);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
}

.info {
  &__list {
    display: flex;
    max-width: 488px;
  }

  &__item:not(:last-child) {
    margin-right: 48px;
  }

  &__link {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: "";
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-right: 12px;
    }

    &:nth-child(1)::before {
      background-image: url('../images/sprite.svg#address');
      width: 32px;
      height: 22px;
    }

    &:nth-child(2)::before {
      background-image: url('../images/sprite.svg#tel');
      width: 22px;
      height: 22px;
    }
  }
}

.header {

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__bottom {
    background-color: var(--green);
  }

  &__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 110px;
  }

  &__logo {
    margin-right: 24px;
  }

  &__catalog {
    position: relative;
    margin-right: 30px;
    width: 240px;
    height: 50px;
    background-color: var(--white);
    color: var(--green);
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 6px 6px 6px 6px;
    transition: background-color 0.3s;

    &:hover,
    &:active {
      background-color: var(--bg-lgreen);
    }

    span {
      position: absolute;
      background-color: var(--green);
      width: 20px;
      height: 1px;
      left: 18px;
      top: 25px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: var(--green);
        left: 0;
        width: 25px;
        height: 1px;
      }

      &::before {
        top: 7px;
      }

      &::after {
        bottom: 7px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      right: 18px;
      top: 23px;
      border: 1px solid var(--green-arrow);
      border-width: 0 3px 3px 0;
      padding: 2px;
      transform: rotate(45deg);
    }
  }

  &__form {
    max-width: 576px;
    margin-right: 208px;

    .form-search__input {
      position: relative;
      width: 418px;
      height: 50px;
      padding-left: 51px;
    }

    .form-search__img {
      position: absolute;
      bottom: -12px;
      left: -12px;
    }

    .form-search__btn {
      padding: 15px 52px;
      width: 158px;
      transition: background-color 0.3s, color 0.3s;
    }

    .form-search__btn:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    .form-search__btn:active {
      color: var(--white);
      background-color: var(--bg-dgrey);
    }
  }
}

.user {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__item {
    position: relative;
  }

  &__item::before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__item:nth-child(1)::before {
    background-image: url('../images/sprite.svg#user');
    width: 24px;
    height: 32px;
  }

  &__item:nth-child(2)::before {
    background-image: url('../images/sprite.svg#heart-user');
    width: 31px;
    height: 29px;
  }

  &__item:nth-child(3)::before {
    background-image: url('../images/sprite.svg#cart');
    width: 32px;
    height: 31px;
  }

  &__link {
    display: block;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s, border-radius 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
    }
  }

  &__num {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    top: 1px;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--red);
    font-size: 10px;
    line-height: 1.8;
    text-align: center;
  }
}

.slider {

  &__container {
    height: 599px;
    display: flex;
    align-items: center;
    padding: 15px;
  }

  &__content {
    padding: 24px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
  }

  &__title {
    max-width: 777px;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.3;
    color: var(--grey);
    @extend %ruda;
    font-weight: 900;

    span {
      color: var(--red-slider);
    }
  }

  &__text {
    margin-bottom: 32px;
    color: var(--grey);
    font-size: 16px;
    font-weight: 400;
  }

  &__btn {
    background-color: var(--green);
    font-size: 18px;
    border-radius: 6px;
    width: 181px;
    height: 47px;
  }
}

.slider__items {
  position: relative;
}

.slider__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slick-arrow {
  position: absolute;
  top: 45%;
  width: 60px;
  height: 60px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid var(--silver);
  border-radius: 6px;
  z-index: 10;
  transition: background-image 0.3s,
    border 0.3s,
    background-color 0.3s, box-shadow 0.3s;
}

.slick-prev {
  background-image: url('../images/sprite.svg#arrow-left');
  @extend %left-norm;

  &:hover,
  &:active {
    @extend %left-green;
  }

  &:focus {
    @extend %left-green;
    outline: transparent;
    box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
  }
}

.slick-next {
  background-image: url('../images/sprite.svg#arrow-right');
  @extend %right-norm;

  &:hover,
  &:active {
    @extend %right-green;
  }

  &:focus {
    @extend %right-green;
    outline: transparent;
    box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
  }
}

.guarantees {
  background-color: var(--bg-greyf6);
  height: 146px;
  padding: 48px 0 29px;

  &__inner {
    display: flex;
    justify-content: space-evenly;
  }

  &__block {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &::before {
      content: "";
      width: 100px;
      height: 50px;
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
    }

    &:nth-child(1)::before {
      background-image: url('../images/sprite.svg#scooter');
    }

    &:nth-child(2)::before {
      background-image: url('../images/sprite.svg#return');
    }

    &:nth-child(3)::before {
      background-image: url('../images/sprite.svg#24hours');
    }
  }

  &__wrapper {
    width: 175px;
  }

  &__title {
    margin-bottom: 7px;
    font-size: 16px;
  }

  &__text {
    color: var(--grey);
  }
}

.products {

  padding-top: 72px;

  &__title {
    margin-bottom: 28px;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
    @extend %ruda;
    font-weight: 600;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 51px;
  }

  &__button {

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__btn {
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    outline: transparent;
    color: var(--grey);
    font-size: 15px;
    font-weight: 700;
    transition: border-bottom 0.3s;

    &:hover,
    &:active {
      border-bottom: 3px solid rgba(99, 166, 14, 0.2);
    }
  }

  &__content {
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
  }

  &__add {
    display: block;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 70px;
    width: 177px;
    font-size: 18px;
    line-height: 1.3;
    color: var(--green);
    background-color: var(--white);
    border: 1px solid var(--green);
    border-radius: 6px;

    &:hover {
      background-color: var(--bg-lgreen);
    }

    &:active {
      background-color: var(--white);
    }
  }
}

.footer {
  position: relative;
  background-color: var(--bg-dgrey);
  color: var(--white);
  font-weight: 400;

  &__top {
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    max-width: 306px;
    margin-right: 180px;

    .form-search__title {
      margin-bottom: 18px;
      font-weight: 400;
      line-height: 1;
    }

    .form-search__input {
      width: 180px;
      height: 40px;
      padding: 12px;
      text-align: start;
      color: var(--greyf4)
    }

    .form-search__btn {
      height: 40px;
      width: 126px;
      padding: 12px 16px;
      font-size: 12px;
      background-color: var(--green);
    }

    .form-search__btn:hover {
      background-color: var(--green-hov);
    }
  }

  &__list {
    column-count: 3;
    column-gap: 70px;
  }

  &__item {
    padding: 9px 0;
    font-weight: 400;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__link {
    margin-bottom: 18px;
  }

  &__bottom {

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 76px;
    }
  }

  &__copy {
    text-transform: uppercase;
  }

  &__payments {
    display: flex;
  }

  &__payment {

    &:nth-child(1) {
      margin-right: 24px;
    }
  }
}

.social {

  display: flex;

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;

    &:active {
      background-color: transparent;
      color: var(--white);
      opacity: 0.7;
    }
  }
}