@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';


.header {
  &__top {
    background-color: #31352B;
    color: #FFFFFF;
    font-size: 13px;
    @extend %opensans-700;
    text-transform: uppercase;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
}

.info {
  &__connect {
    display: flex;
    max-width: 480px;
  }

  &__connect-item:not(:last-child) {
    margin-right: 48px;
  }

  &__connect-item::before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 12px;
  }

  &__connect-item:nth-child(1)::before {
    background-image: url('../images/icons/address.svg');
    width: 32px;
    height: 22px;
  }

  &__connect-item:nth-child(2)::before {
    background-image: url('../images/icons/tel.svg');
    width: 22px;
    height: 22px;
  }

  &__connect-item,
  &__menu-item {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__menu-list {
    display: flex;
    justify-content: space-between;
  }

  &__menu-item:not(:last-child) {
    margin-right: 24px;
  }
}

.header {
  &__bottom {
    background-color: #63A60F;
  }

  &__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 110px;
  }

  &__logo {
    margin-right: 24px;
  }

  &__catalog {
    position: relative;
    margin-right: 30px;
    width: 240px;
    height: 50px;
    background-color: #fff;
    color: #63A60E;
    @extend %opensans-600;
    text-align: center;
    border-radius: 6px 6px 6px 6px;

    span {
      position: absolute;
      background-color: #63A60E;
      width: 20px;
      height: 1px;
      left: 18px;
      top: 25px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: #63A60E;
        left: 0;
        width: 25px;
        height: 1px;
      }

      &::before {
        top: 7px;
      }

      &::after {
        bottom: 7px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      right: 18px;
      top: 23px;
      border: 1px solid #7CB238;
      border-width: 0 3px 3px 0;
      padding: 2px;
      transform: rotate(45deg);
    }
  }

  &__input {
    position: relative;
    background-image: url('../images/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 3%;
    width: 419px;
    height: 50px;
    border: none;
    border-radius: 6px 0 0 6px;
    color: #31352B;
    font-weight: 400;
    text-align: center;
  }

  &__form {
    display: contents;

    &--btn {
      margin-right: 40px;
      width: 157px;
      height: 50px;
      color: #fff;
      background-color: #31352B;
      border-radius: 0 6px 6px 0;
      text-transform: uppercase;
    }
  }
}

.user {
  display: flex;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__item {
    position: relative;
  }

  &__item::before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__item:nth-child(1)::before {
    background-image: url('../images/icons/user.svg');
    width: 24px;
    height: 32px;
  }

  &__item:nth-child(2)::before {
    background-image: url('../images/icons/heart.svg');
    width: 31px;
    height: 29px;
  }

  &__item:nth-child(3)::before {
    background-image: url('../images/icons/cart.svg');
    width: 32px;
    height: 31px;
  }

  &__link {
    display: block;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s, border-radius 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 3px;
    }
  }

  &__num {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 2px;
    top: 1px;
    border-radius: 50%;
    background-color: #fff;
    color: #CF3E3B;
    font-size: 10px;
    line-height: 1.8;
    text-align: center;
  }
}






@import 'media';