@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {

  &__top {
    background-color: var(--bg-dgrey);
    color: var(--white);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
}

.info {

  &__list {
    display: flex;
    max-width: 488px;
  }

  &__item {
    @include media-2 {
      font-size: 0;
    }

    &:nth-child(1) {
      .info__link {
        &::before {
          mask-image: url('../images/sprite.svg#address');
          width: 32px;
          height: 22px;
        }
      }
    }

    &:nth-child(2) {
      @include media-2 {
        margin-right: -5px;
      }

      .info__link {
        &::before {
          mask-image: url('../images/sprite.svg#tel');
          width: 22px;
          height: 22px;
        }
      }
    }

    &:not(:last-child) {
      margin-right: 48px;

      @include media-2 {
        margin-right: 20px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &::before {
      content: "";
      display: inline-block;
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center;
      background-color: #fff;
      margin-right: 12px;

      @include media-2 {
        margin-right: 0;
      }
    }
  }

  &__burger {
    display: none;

    @include media-3 {
      position: relative;
      left: -12px;
      display: block;
      width: 44px;
      height: 44px;
      z-index: 2;
    }


    &::before,
    &::after,
    span {
      @include media-3 {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: top 0.3s, bottom 0.3s, transform 0.3s, opacity 0.3s;
      }
    }

    span {
      @include media-3 {
        top: calc(50% - 1px);
      }
    }

    &::before {
      @include media-3 {
        top: 10px;
      }
    }

    &::after {
      @include media-3 {
        bottom: 10px;
      }
    }
  }

  .active span {
    @include media-3 {
      opacity: 0;
    }
  }

  .active::before {
    @include media-3 {
      transform: rotate(45deg);
      top: 21px;
    }
  }

  .active::after {
    @include media-3 {
      transform: rotate(-45deg);
      bottom: 21px;
    }
  }

  &__menu.active {
    transform: translateX(0);
    pointer-events: auto;

    .info__burger--open.active {
      display: block;
      position: absolute;
      top: 23px;
      left: 227px;
      background-color: gray;
    }

    span {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: var(--black);
      transition: top 0.3s, bottom 0.3s, transform 0.3s, opacity 0.3s;
      opacity: 0;

      &::before {
        transform: rotate(45deg);
        top: 21px;
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 21px;
      }
    }
  }

  &__menu {
    transform: translateX(-150%);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: -15px;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--white);
    color: var(--bg-dgrey);
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: none;
    z-index: 20;
  }

  &__logo {
    padding: 26px 15px;
    width: 66%;
  }

  &__img {
    margin-top: -1px;
    margin-left: 9px;
  }

  .control {
    position: relative;
    background-color: var(--green);
    height: 48px;
    color: var(--white);
    line-height: 1;

    &__item {
      display: inline-block;
      padding: 16px 0;

      &:nth-child(1) {
        padding-left: 53px;

        &::before {
          content: "";
          position: absolute;
          bottom: 5px;
          left: 13px;
          mask: url('../images/sprite.svg#user') center / cover;
          background-color: var(--white);
          width: 24px;
          height: 32px;
          display: inline-block;
        }

        &::after {
          content: "";
          border-right: 1px solid var(--white);
          padding-left: 15px;
          margin-right: 6px;
        }
      }
    }
  }

  &__wrapper {
    position: relative;
    padding-bottom: 48px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  }

  &__btn {
    position: absolute;
    left: -4px;

    span {
      position: absolute;
      background-color: var(--bg-dgrey);
      width: 20px;
      height: 1px;
      left: 18px;
      top: 25px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: var(--bg-dgrey);
        left: 0;
        width: 25px;
        height: 1px;
      }

      &::before {
        top: 9px;
      }

      &::after {
        bottom: 9px;
      }
    }
  }

  &__catalog {
    position: absolute;
    width: 161px;
    padding: 15px 0;
    left: 57px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.03em;
  }

  &__contacts {
    padding-top: 25px;
  }

  &__contact {
    position: relative;
    padding-left: 15px;
    margin-bottom: 18px;

    &:nth-child(1) {
      &::before {
        content: "";
        position: absolute;
        mask: url('../images/sprite.svg#mobile') center / cover;
        background-color: var(--bg-dgrey);
        width: 24px;
        height: 24px;
        display: inline-block;
      }
    }


    &:nth-child(2) {
      &::before {
        content: "";
        position: absolute;
        top: 4px;
        mask: url('../images/sprite.svg#map') center / cover;
        background-color: var(--bg-dgrey);
        width: 24px;
        height: 33px;
        display: inline-block;
      }
    }
  }

  &__ref {
    padding-left: 40px;
    display: block;
  }

  &__social {
    align-items: center;
    padding-left: 22px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);

    .social__item {

      &:not(:last-child) {
        margin-right: 15px;
      }

      &:nth-child(1) {
        .social__link {
          width: 16px;
        }
      }

      &:nth-child(2) {
        .social__link {
          width: 32px;
          height: 22px;
        }
      }

      &:nth-child(3) {
        .social__link {
          width: 32px;
          height: 27px;
        }
      }

      &:nth-child(1) {
        .social__link {
          width: 16px;
        }
      }
    }
  }

  &__panel {
    padding: 27px 13px 9px;

    .panel__link {
      display: block;
      line-height: 1.2;
      padding-bottom: 15px;
      transition: color 0.3s;

      &:hover {
        color: var(--green-hov);
      }

      &:active {
        color: var(--green);
      }
    }
  }
}


.header {
  &__list {
    display: flex;
    justify-content: space-between;

    @include media-3 {
      display: none;
    }
  }

  &__item {

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__link {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__bottom {
    background-color: var(--green);
  }

  &__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 110px;
    position: relative;

    @include media-2 {
      height: 62px;
      justify-content: flex-end;
    }
  }

  &__logo {
    margin-right: 24px;
    flex: 0 0 200px;

    @include media-1 {
      margin-right: 10px;
      flex: 0 0 150px;
    }

    @include media-2 {
      margin-right: auto;
    }

    .logo__img {
      &--desktop {
        @include media-3 {
          display: none;
        }
      }

      &--mobile {
        display: none;

        @include media-3 {
          display: block;
        }
      }
    }
  }

  &__catalog {
    margin-right: 30px;
  }

  &__form {
    max-width: 576px;
    margin-right: auto;

    @include media-2 {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: transform 0.5s ease-in, z-index 0.3s;
      z-index: -1;

      &.active {
        transform: translate(0, 0);
        z-index: 1;
      }
    }
  }

  &__search {
    display: none;

    @include media-2 {
      display: block;
      mask: url('../images/sprite.svg#search-mini') center / cover;
      background-color: #fff;
      width: 24px;
      height: 24px;
    }
  }

  &__user {
    margin-left: 10px;
  }
}

.catalog {
  width: 240px;
  position: relative;
  display: inline-block;

  @include media-3 {
    display: none;
  }

  @include media-2 {
    margin-right: auto;
  }

  &__btn {
    position: relative;
    margin-right: 30px;
    padding: 15px 0px 15px 25px;
    width: 240px;
    height: 50px;
    background-color: var(--white);
    color: var(--green);
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 6px 6px 6px 6px;
    transition: background-color 0.3s;

    &:hover,
    &:active {
      background-color: var(--bg-lgreen);
    }

    span {
      position: absolute;
      background-color: var(--green);
      width: 20px;
      height: 1px;
      left: 18px;
      top: 25px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: var(--green);
        left: 0;
        width: 25px;
        height: 1px;
      }

      &::before {
        top: 7px;
      }

      &::after {
        bottom: 7px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      right: 18px;
      top: 23px;
      width: 8px;
      height: 4px;
      mask-image: url('../images/sprite.svg#arrow-catalog');
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: cover;
      background-color: var(--green-arrow);
    }

    &.active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__list {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    overflow: hidden;
  }

  &__item {
    display: block;
    background-color: var(--white);
  }

  &__link {
    display: block;
    padding: 15px 24px;
    font-size: 16px;
    font-weight: 400;
    color: var(--menu-cat);
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
    border-left: 3px solid transparent;
    transition: color 0.3s, border-left-color 0.3s;

    &:hover {
      color: var(--green);
      border-left-color: var(--green);
    }
  }
}

.user {
  display: flex;

  &__item {

    &:not(:last-child) {
      margin-right: 10px;

      @include media-3 {
        display: none;
      }
    }

    &--profile {
      .user__link {
        &::before {
          mask: url('../images/sprite.svg#user') center / cover;
          width: 24px;
          height: 32px;

          @include media-3 {
            display: none;
          }
        }
      }
    }

    &--wishlist {
      @include media-3 {
        display: none;
      }

      .user__link {
        &::before {
          mask: url('../images/sprite.svg#heart-user') center / cover;
          width: 31px;
          height: 29px;
        }
      }
    }

    &--cart {
      .user__link {
        &::before {
          mask: url('../images/sprite.svg#cart') center / cover;
          width: 32px;
          height: 31px;
        }
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: relative;
    transition: background-color 0.3s, border-radius 0.3s;

    &::before {
      content: "";
      background-color: #fff;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
    }
  }

  &__num {
    position: absolute;
    min-width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 2px;
    top: 1px;
    padding: 1px 3px;
    border-radius: 10px;
    background-color: var(--white);
    color: var(--red);
    font-size: 10px;
    line-height: 1;
  }
}

.breadcrumbs {
  height: 65px;
  background-color: var(--bg-greyf6);
  color: var(--grey);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;

}

.slider {
  &__item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:nth-child(1) {
      @include media-2 {
        background-image: url('../images/slider/carrots.jpg');
      }
    }

    &:nth-child(2) {
      @include media-2 {
        background-image: url('../images/slider/tomatoes.jpg');
      }
    }

    &:nth-child(3) {
      @include media-2 {
        background-image: url('../images/slider/salad.jpg');
      }
    }
  }

  &__container {
    position: relative;
    height: 599px;
    display: flex;
    align-items: center;
    padding: 15px;

    @include media-slider {
      max-width: 1110px;
    }

    @include media-1 {
      max-width: 830px;
      height: 500px;
    }

    @include media-4 {
      padding: 60px 0 51px;
      height: 318px;
    }
  }

  &__content {
    padding: 24px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6px;

    @include media-4 {
      border-radius: 0;
      padding: 15px;
    }
  }

  &__title {
    max-width: 777px;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.3;
    color: var(--grey);
    @extend %ruda;
    font-weight: 900;

    @include media-3 {
      font-size: 40px;
      max-width: 465px;
    }

    @include media-4 {
      font-size: 20px;
      font-weight: 700;
      max-width: 300px;
      margin-bottom: 17px;
    }

    span {
      color: var(--red-slider);
    }
  }

  &__text {
    margin-bottom: 36px;
    color: var(--grey);
    font-weight: 400;

    @include media-4 {
      font-size: 15px;
      margin-bottom: 26px;
    }
  }

  &__btn {
    background-color: var(--green);
    font-size: 18px;
    border-radius: 6px;
    width: 181px;
    height: 47px;
    padding: 12px 21px;
    display: block;
    letter-spacing: 0.03em;

    @include media-4 {
      width: 152px;
      height: 42px;
      font-size: 14px;
    }

    &:focus {
      box-shadow: 0 0 0 4px var(--bg-lgreen);
    }
  }

  .slick-arrow {
    width: 60px;
    height: 60px;
    font-size: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid var(--silver);
    border-radius: 6px;
    z-index: 10;
    transition: background-image 0.3s, border 0.3s,
      background-color 0.3s, box-shadow 0.3s;
  }

  .slick-prev {
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translate(0, -50%);

    @include media-slider {
      left: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 19px;
      top: 13px;
      width: 18px;
      height: 32px;
      mask: url('../images/sprite.svg#arrow-left') center / cover;
      background-color: var(--bg-dgrey);
    }

    &:hover,
    &:active {
      @extend %left-green;
    }

    &:focus {
      @extend %left-green;
      outline: transparent;
      box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
    }
  }

  .slick-next {
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translate(0, -50%);

    @include media-slider {
      right: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      right: 19px;
      top: 13px;
      width: 18px;
      height: 32px;
      mask: url('../images/sprite.svg#arrow-right') center / cover;
      background-color: var(--grey);
    }

    &:hover,
    &:active {
      @extend %right-green;
    }

    &:focus {
      @extend %right-green;
      outline: transparent;
      box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
    }
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 16px;
    display: flex;
    justify-content: center;

    li+li {
      margin-left: 12px;
    }

    button {
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #C1C1C1;
      font-size: 0;
    }
  }

  .slick-active {
    button {
      @include media-2 {
        background-color: var(--green);
        border: 1px solid var(--green);
      }
    }
  }
}

.guarantees {
  background-color: var(--bg-greyf6);
  padding: 48px 0 29px;

  @include media-4 {
    padding: 30px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-evenly;

    @include media-3 {
      flex-wrap: wrap;
    }

    @include media-4 {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-right: 15px;

      @include media-2 {
        margin-bottom: 31px;
      }

      @include media-3 {
        margin-right: 0;
      }
    }

    &::before {
      content: "";
      min-width: 50px;
      max-width: 100%;
      height: 50px;
      margin-right: 24px;
      mask-repeat: no-repeat;
      mask-position: top;
      mask-size: cover;
      background-color: var(--green);
    }

    &:nth-child(1) {
      &::before {
        mask-image: url('../images/sprite.svg#scooter');
      }
    }

    &:nth-child(2) {
      &::before {
        mask-image: url('../images/sprite.svg#return');
      }
    }

    &:nth-child(3) {
      &::before {
        mask-image: url('../images/sprite.svg#24hours');
      }
    }
  }

  &__wrapper {
    max-width: 180px;

    @include media-3 {
      width: 240px;
    }
  }

  &__title {
    margin-bottom: 7px;
    font-size: 16px;
  }

  &__text {
    color: var(--grey);
    font-weight: 400;
  }
}

.products {
  padding-top: 72px;

  @include media-4 {
    padding-top: 48px;
  }

  &__title {
    margin-bottom: 28px;

    @include media-4 {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 51px;

    @include media-4 {
      margin-bottom: 7px;
      flex-wrap: wrap;
    }
  }

  &__button {
    &:not(:last-child) {
      margin-right: 24px;
    }

    @include media-4 {
      margin-bottom: 15px;
    }
  }

  &__btn {
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    outline: transparent;
    color: var(--grey);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.03em;
    transition: border-bottom 0.3s, color 0.3s;

    @include media-4 {
      font-size: 14px;
    }

    &:hover {
      border-bottom: 3px solid rgba(99, 166, 14, 1);
      color: var(--green);
    }

    &:active {
      border-bottom: 3px solid rgba(77, 128, 12, 1);
      color: var(--green-hov);
    }
  }

  .mixitup-control-active {
    border-bottom: 3px solid rgba(99, 166, 14, 0.2);
  }

  &__content {
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    @include media-3 {
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }

    @include media-4 {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
      margin-bottom: 24px;
    }
  }

  &__add {
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
    color: var(--green);
    background-color: var(--white);
    border: 1px solid var(--green);

    @include media-3 {
      margin-bottom: 24px;
    }

    &:hover {
      background-color: var(--bg-lgreen);
    }

    &:active {
      background-color: var(--white);
    }
  }
}

.offers {
  padding-bottom: 69px;

  @include media-3 {
    margin-bottom: 47px;
  }

  &__list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 30px;

    @include media-2 {
      grid-template-columns: repeat(auto-fit, minmax(301px, 1fr));
    }
  }

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 6px;
    color: var(--grey);
    text-transform: uppercase;

    &:nth-child(1) {
      color: var(--white);


      .offers__wrapper {
        padding: 79px 33px;
      }

      .offers__title {
        margin-bottom: 10px;
        max-width: 360px;
      }
    }

    &:nth-child(2),
    &:nth-child(3) {

      .offers__wrapper {
        padding: 77px 33px;
      }

      .offers__title {
        margin-bottom: 11px;
      }
    }
  }

  &__text {
    display: block;
    margin-bottom: 18px;
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.1em;
  }

  &__title {
    @extend %ruda;
    font-size: 30px;
  }

  &__link {
    font-weight: 700;
    line-height: 1;
    border-bottom: 2px solid;
  }
}

.stock {
  padding: 72px 0;
  background: var(--bg-greyf5);

  @include media-4 {
    padding: 48px 0;
  }

  &__title {
    margin-bottom: 32px;
    letter-spacing: 0.03em;

    @include media-4 {
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 51px;

    @include media-4 {
      margin-bottom: 28px;
      letter-spacing: 0.1em;
    }
  }

  &__button {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__btn {
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    outline: transparent;
    color: var(--grey);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.1em;
    transition: border-bottom 0.3s, color 0.3s;

    @include media-4 {
      font-size: 14px;
    }

    &:hover {
      border-bottom: 3px solid rgba(99, 166, 14, 1);
      color: var(--green);
    }

    &:active {
      border-bottom: 3px solid rgba(77, 128, 12, 1);
      color: var(--green-hov);
    }
  }

  .mixitup-control-active {
    border-bottom: 3px solid rgba(99, 166, 14, 0.2);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 30px;
    margin-bottom: 48px;

    @include media-3 {
      grid-gap: 15px;
    }

    @include media-4 {
      margin-bottom: 28px;
      padding: 0 22px;
    }
  }

  &__card {
    position: relative;
    background-color: var(--white);
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 6px;
    display: flex;
  }

  &__badges {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &__badge {
    padding: 3px 6px;
    border-radius: 6px;
    text-transform: uppercase;
    color: var(--white);
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    z-index: 5;
    display: none;

    &--on {
      display: block;
    }

    &--new {
      background-color: var(--green);
    }

    &--sale {
      background-color: var(--red);
    }

    &--hit {
      background-color: var(--orange);
    }
  }

  &__image {
    display: block;
    width: 100%;
    max-width: 100px;
    height: 100px;
    position: relative;

    img {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__right {
    padding: 10px;
  }

  &__top {
    @include line-clamp(3);
    height: 58px;
    margin-bottom: 7px;
  }

  .avialability {
    &__stock {
      text-transform: uppercase;
      font-size: 10px;
      line-height: 1;
      letter-spacing: 0.03em;
      display: none;
      margin-bottom: 6px;

      &--on {
        display: block;
      }

      &--in {
        color: var(--green);
      }

      &--low {
        color: var(--red);
      }

      &--out {
        color: var(--silver);
      }
    }
  }

  &__prices {
    display: flex;
  }

  &__price {
    line-height: 1;
    color: var(--grey);
    font-size: 20px;

    span {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-right: 15px;
    }

    &--old {
      position: relative;
      color: var(--silver);
      font-size: 12px;
      display: flex;
      align-items: flex-end;

      &::before {
        content: "";
        color: var(--silver);
        position: absolute;
        top: 65%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--silver);
        transform: rotate(-14.99deg);
      }
    }
  }

  &__rating {
    position: absolute;
    right: 30px;
    bottom: 10px;
    color: var(--grey);
    font-weight: 700;

    &::before {
      content: "";
      position: absolute;
      bottom: 1px;
      left: 24px;
      width: 16px;
      height: 16px;
      mask: url('../images/sprite.svg#rating-star') center / cover;
      background-color: var(--sun);
    }
  }

  &__add {
    display: block;
    margin: 0 auto;
    background-color: var(--green);
  }
}

.brands {
  padding: 70px 0;

  @include media-4 {
    padding: 48px 0 41px;
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-slide {
    display: flex;
    justify-content: center;
  }

  &__img {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}

.news {
  padding: 3px 0 72px;

  @include media-4 {
    padding: 3px 0 48px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include media-4 {
      display: block;
      margin-bottom: 27px;
    }
  }

  &__title {
    @extend %ruda;
    font-size: 32px;
    letter-spacing: 0.03em;

    @include media-4 {
      font-size: 24px;
      margin-bottom: 12px;
    }
  }

  &__ref {
    color: var(--green);
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid var(--green);
    height: 25px;
    margin-right: 5px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @include media-4 {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 14px;
    }

  }

  &__item {
    position: relative;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

  &__link {
    transition: color 0.3s;

    &:hover {
      .news__text {
        color: var(--green);
      }
    }
  }

  &__img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__calendar {
    position: absolute;
    top: 0;
    left: 20px;
    width: 65px;
    height: 76px;
    background-color: var(--white);
    border-radius: 0px 0px 4px 4px;
  }

  &__text {
    padding: 18px;
    font-size: 16px;
    line-height: 1.5;

    @include media-4 {
      padding: 15px 12px;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &__date {
    padding: 18px 0 10px;
    display: block;
    font-size: 10px;
    font-weight: 700px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;

    span {
      display: block;
      @extend %ruda;
      font-size: 30px;
      line-height: 1;
      padding-top: 5px;
    }
  }
}

.footer {
  position: relative;
  background-color: var(--bg-dgrey);
  color: var(--white);
  font-weight: 400;

  &__top {
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    @include media-4 {
      padding-top: 24px;
      padding-bottom: 0;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 30px;

    @include media-4 {
      margin-bottom: 23px
    }

    img {
      @include media-4 {
        margin: 0 auto;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-2 {
      flex-wrap: wrap;
    }
  }

  &__form {
    max-width: 306px;
    margin-right: 80px;

    @include media-2 {
      max-width: 50%;
      margin-bottom: 24px;
      order: 0;
    }

    @include media-3 {
      order: 3;
      max-width: 100%;
    }

    @include media-4 {
      margin-right: 0;
    }
  }

  .form-search {
    &::before {
      display: none;
    }

    &__input {
      height: 40px;
      padding: 12px 135px 12px 12px;
    }

    &__btn {
      height: 40px;
      font-size: 12px;
      padding: 12px 16px;
      background-color: var(--green);

      &:hover {
        background-color: var(--green-hov);
      }

      &:focus {
        box-shadow: 0 0 0 4px var(--bg-lgreen);
      }
    }

    @include media-4 {
      margin-left: 22px;
      margin-right: 22px;
    }
  }

  &__list {
    column-count: 3;
    column-gap: 70px;

    @include media-2 {
      order: 3;
    }

    @include media-3 {
      order: 2;
      margin-bottom: 28px;
    }

    @include media-4 {
      padding-top: 30px;
      column-count: 2;
      margin-left: 48px;
      column-gap: 43px;
    }
  }

  &__item {
    font-weight: 400;
    margin-bottom: 20px;

    @include media-4 {
      width: 135px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    margin-right: -5px;

    @include media-2 {
      order: 2;
      padding-bottom: 24px;
    }

    @include media-3 {
      order: 0;
      padding-bottom: 18px;
      width: 100%;
    }

    @include media-4 {
      align-items: center;
      width: 100%;
    }
  }

  &__link {
    margin-bottom: 20px;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 15px;

    @include media-4 {
      flex-direction: column;
    }
  }

  &__copy {
    text-transform: uppercase;

    @include media-4 {
      order: 5;
    }
  }

  &__payments {
    display: flex;
  }

  &__payment {
    &:not(:last-child) {
      margin-right: 24px;
    }

    @include media-4 {
      order: 6;
      margin-bottom: 25px;
    }
  }

  &__img {
    object-fit: cover;
  }
}

.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;

    &:active,
    &:hover {
      background-color: transparent;
      color: var(--white);
      opacity: 0.7;
    }
  }
}

.catalogue {
  padding: 48px 0 73px;

  @include media-4 {
    padding: 30px 0 36px;
  }

  &__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    @extend %ruda;
    margin-bottom: 48px;

    @include media-3 {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  &__inner {
    display: flex;
  }
}


.filters {
  max-width: 300px;
  width: 100%;
  margin-right: 30px;
  background-color: #fff;

  @include media-2 {
    display: none;
  }

  &.active {
    position: absolute;
    display: block;
    height: 100vh;
    overflow-y: auto;
    z-index: 20;
  }

  &__item {
    position: relative;
    border: 1px solid var(--silver);
    border-radius: 6px;
    border-bottom: 1px solid var(--silver);

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__button {
    position: relative;
    width: 100%;
    @extend %ruda;
    padding: 18px;
    text-align: unset;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.03em;
    transition: transform 0.3s;

    &.active {
      border-bottom: 1px solid var(--silver);
    }

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      right: 24px;
      mask: url('../images/sprite.svg#filters-arrow') center / cover;
      background-color: var(--silver);
      width: 18px;
      height: 11px;
      transform: rotate(180deg);
    }

    &.active::before {
      transform: none;
    }
  }

  &__list {
    display: none;

    &.active {
      display: block;
      padding: 8px 18px;
    }
  }

  &__link {
    display: block;
    padding: 6px 0;
    font-size: 18px;
    line-height: 1.3;
    font-weight: 400;
    color: var(--grey);
  }

  &__checkbox {
    margin-bottom: 12px;
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.filters__label::after {
      opacity: 1;
    }
  }

  &__label {
    display: flex;
    justify-content: start;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: var(--grey);
    letter-spacing: 0.03em;

    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-color: var(--bg-greyf6);
      border: 1px solid var(--silver);
      border-radius: 3px;
      margin-right: 12px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 10px;
      top: 10px;
      width: 12px;
      height: 9px;
      transform: translate(-50%, -50%);
      opacity: 0;
      mask: url('../images/sprite.svg#checked') center / cover;
      background-color: var(--grey);
    }
  }

  &__labels--prices {
    display: flex;
    justify-content: space-around;
  }

  &__label--first,
  &__label--second {
    width: 80px;
    height: 40px;
    border: 1px solid var(--silver);
    border-radius: 3px;
    background-color: var(--bg-greyf6);
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--grey);
    padding: 10px;
    margin-bottom: 1px;
  }

  &__label--first {
    position: relative;
  }

  &__from,
  &__to,
  &__rub {
    top: 19px;
    font-size: 14px;
    font-weight: 400;
    @extend %ruda;
    color: var(--silver);
    text-transform: uppercase;
    padding-top: 22px;
  }

  &__rub {
    font-family: inherit;
  }

  .irs--flat .irs-line {
    top: 30px;
    height: 2px;
    background-color: var(--c4);
    border-radius: 0px;
  }

  .irs--flat .irs-handle {
    top: 22 px;
    width: 18 px;
    height: 18 px;
    border-radius: 50%;
    background-color: var(--green);
    cursor: pointer;

    i:first-child {
      background-color: transparent;
    }
  }

  .irs--flat .irs-bar {
    top: 30px;
    height: 2px;
    background-color: var(--green);
  }

  .irs-from,
  .irs-to,
  .irs-single,
  .irs-min,
  .irs-max {
    display: none;
  }
}

.content {
  &__filters {
    margin-bottom: 46px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include media-2 {
      justify-content: flex-start;
    }

    @include media-4 {
      margin-bottom: 30px;
    }
  }

  &__button {
    display: none;
    position: relative;
    width: 47px;
    height: 47px;
    background-color: var(--bg-greyf6);
    border-radius: 3px;
    margin-right: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      right: 8px;
      mask: url('../images/sprite.svg#btn-filters') center / cover;
      background-color: var(--green);
      width: 32px;
      height: 34px;
    }

    @include media-2 {
      display: block;
    }
  }

  &__select {
    margin-right: 13px;
    border: 1px solid var(--silver);
    color: var(--grey);
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    height: 47px;

    &:nth-child(1) {
      width: 149px;

      @include media-4 {
        width: 114px;
      }
    }

    &:nth-child(2) {
      width: 100px;

      @include media-4 {
        width: 71px;
      }
    }
  }

  .jq-selectbox__select {
    padding: 11px 9px;
    border: none;
    background: var(--white);
    box-shadow: none;
  }

  .jq-selectbox__trigger {
    border-left: none;
  }

  .jq-selectbox__trigger-arrow {
    top: 12px;
    right: 6px;
    mask: url('../images/sprite.svg#arrow-select') center / cover;
    background-color: var(--grey);
    width: 11px;
    height: 6px;
    width: 100%;
  }

  &__btn {
    position: relative;
    width: 47px;
    height: 47px;
    background-color: var(--bg-greyf6);
    border-radius: 3px;

    &--list {
      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 6px;
        mask: url('../images/sprite.svg#view-list') center / cover;
        background-color: var(--silver);
        width: 35px;
        height: 35px;
      }

      &.active {
        &::before {
          content: "";
          position: absolute;
          top: 6px;
          left: 6px;
          mask: url('../images/sprite.svg#view-list') center / cover;
          background-color: var(--green);
          width: 35px;
          height: 35px;
        }
      }
    }

    &--grid {
      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 6px;
        mask: url('../images/sprite.svg#view-grid') center / cover;
        background-color: var(--silver);
        width: 35px;
        height: 35px;
      }

      &.active {
        &::before {
          content: "";
          position: absolute;
          top: 6px;
          left: 6px;
          mask: url('../images/sprite.svg#view-grid') center / cover;
          background-color: var(--green);
          width: 35px;
          height: 35px;
        }
      }
    }

    @include media-4 {
      display: none;
    }
  }

  &__btn {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 48px;
    z-index: 2;

    @include media-3 {
      grid-template-columns: repeat(2, 1fr);
    }

    .card {
      &__avialability {
        display: flex;
        justify-content: space-between;
        margin-top: -15px;
        margin-bottom: 4px;

        &__image {
          margin-bottom: 0;
        }
      }

      .avialability {
        &__product {
          text-transform: uppercase;
          font-size: 10px;
          line-height: 1;
          letter-spacing: 0.03em;
          display: none;
          margin-bottom: 6px;

          &--on {
            display: block;
          }

          &--in {
            color: var(--green);
          }

          &--low {
            color: var(--red);
          }

          &--out {
            color: var(--silver);
          }
        }

        &__rating {
          position: absolute;
          right: 35px;
          bottom: 115px;
          color: var(--grey);
          font-weight: 700;

          &::before {
            content: "";
            position: absolute;
            bottom: 1px;
            left: 24px;
            width: 16px;
            height: 16px;
            mask: url('../images/sprite.svg#rating-star') center / cover;
            background-color: var(--sun);
          }
        }
      }
    }

    &--list {
      grid-template-columns: repeat(2, 1fr);

      @include media-4 {
        grid-template-columns: 1fr;
      }

      .card {
        padding: 9px 18px 9px 0;
        position: relative;
        flex-direction: row;
        height: 162px;

        &__image {
          padding-bottom: 32%;
          max-width: 200px;
        }

        &__title {
          margin-top: 40px;
        }

        &__favourite {
          top: 55px;
          right: 16px;
        }

        &__prices {
          position: absolute;
          right: 150px;
        }
      }

      .avialability {
        &__wrapper {
          position: absolute;
          top: 14px;
          right: 100px;
        }

        &__rating {
          bottom: 130px;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  height: 48px;

  @include media-4 {
    flex-direction: column;
  }

  &__button {
    width: 180px;
    height: 47px;
    margin: 0;
    background-color: var(--green);
    color: var(--white);

    @include media-4 {
      margin: 0 auto 24px;
    }

    &:hover {
      background-color: var(--green-hov);
    }

    &:focus {
      box-shadow: 0 0 0 4px var(--bg-lgreen);
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @include media-4 {
      margin: 0 auto;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 6px;
    }
  }

  &__btn {
    display: block;
    width: 48px;
    height: 48px;
    background-color: var(--bg-greyf6);
    border-radius: 3px;
    border: 1px solid transparent;
    color: var(--grey);
    outline: transparent;
    text-align: center;
    padding: 15px 0;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    transition: border 0.3s;

    &:active {
      border: 1px solid var(--grey);
    }

    &:hover {
      border: 1px solid var(--silver);
    }
  }

  &__arrow--prev {
    padding: 15px 18px;
    mask: url('../images/sprite.svg#pagination-prev') center / 30% no-repeat;
    background-color: var(--silver);
    width: 48px;
    height: 48px;
  }

  &__arrow--next {
    padding: 15px 18px;
    mask: url('../images/sprite.svg#pagination-next') center / 30% no-repeat;
    background-color: var(--grey);
    width: 48px;
    height: 48px;
  }
}

.guarantees {
  &__wrapper {
    @include media-4 {
      max-width: 400px;
    }
  }
}

.product{
  
}